body {
    color: black;
    font-family: impact;
    background-color: aqua;
}
h1 {
    color: black;
    text-align: left;
    font-size: 40px;  
}
.container header nav a {
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin: 1px;
    background-color: white;
    color: black;
    }
.projects {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 10px;
  font-family: impact;
  font-size: 25px;
  text-align: right;
 }
p {
  border: 20px solid black;
  display: flex;
  text-align: right;
}
footer {
  text-align: center;
}
.contact {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 10px;
  font-family: impact;
  font-size: 25px;
  }
